---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('02/01/2024')}
>
	<p>
		My name is <span>Mohamad Ramadan</span> and I am a <span>Cloud Architect</span> working as a <span>Freelancer</span>.
	</p>
	<p>
		For business requirements contact <a href="mailto:freelance@ramda.net">freelance@ramda.net</a>
	</p>
</Layout>
<style>
	span {
		color: var(--primary)
	}
</style>