---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE_SHORT, SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from "../layouts/BlogPost.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE_SHORT} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Layout
				title="Hi,"
				description="Lorem ipsum dolor sit amet"
				pubDate={new Date('02/01/2024')}
		>
			<p>
				welcome to my personal blog, where I collect my learnings in tech
				throughout the years. Feel free to browse through my posts.
			</p>
			<p>– Mohamad</p>
		</Layout>
	</body>
</html>
